@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.Contact {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 90px;
    margin: auto;
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    height: 50px;
    border-radius: 10px;
    border-width: 3px;
    background:rgba(109, 78, 180, 0.062);
    box-shadow: 2px 2px 10px rgb(51, 51, 51);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-style: solid;
    animation: gradientBorder 800ms ease-in-out infinite;
    background:rgb(221, 221, 221);
    color: black;
}

@keyframes gradientBorder {
    0%{
        border-color: rgb(221, 221, 221);
    }
    50%{
        border-color: rgb(156, 156, 156);
    }
    100%{
        border-color: rgb(221, 221, 221);
    }
}
    
img {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-user-drag: none;
    user-drag: none;
}

.logo {
    width: 48px;
}

.Version {
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: #6435af;
    position: fixed;
    margin-top: 46vh;
}

hr.rounded {
    position: relative;
    width: 90%;
    border-top: 8px solid #bbb;
    border-radius: 5px;
    border-color: rgba(221, 221, 221, 0.308);
    }

.ContactOptions {
    margin-top: 30px;
    align-items: center;
    text-align: center;
}

.HomePageText {
    position: relative;
    top: 20px;
    padding-top: 30px;
    padding-left: 30px;
    font-size:larger;
    text-shadow: 2px 2px 10px black;
    color: rgb(221, 221, 221);
    line-height: 30px;
}

.MainImageImg {
    position: relative;
    left: 220px;
    top: 65px;
    width: 100px;
    border-radius: 100%;
    transform: rotate(5deg);
    --border: 5px;
    --gap: 12px;
    --color: #bb1f68;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-radius: 100%;
    margin: 20px;
    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    --angle: 90deg;
    background:
    radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 85.35% 85.35%,
    conic-gradient(from calc(180deg - var(--angle)/2),#0000 var(--angle),var(--color) 0),
    radial-gradient(farthest-side,var(--color) 97%,#0000 101%) 14.65% 85.35%;
    background-size: var(--border) var(--border),auto;
    background-repeat: no-repeat;
    -webkit-mask:
    radial-gradient(farthest-side, 
        #000  calc(99%  - calc(var(--border) + var(--gap))),
        #0000 calc(100% - calc(var(--border) + var(--gap))) 
            calc(100%  - var(--border)), 
        #000  calc(100% - var(--border)));
    mask:
    radial-gradient(farthest-side, 
        #000  calc(99%  - calc(var(--border) + var(--gap))),
        #0000 calc(100% - calc(var(--border) + var(--gap))) 
            calc(100%  - var(--border)), 
        #000  calc(100% - var(--border)));
        
}

.Content{
    height: 0;
}

.MainImage{
    position: relative;
    text-align: right;
    bottom: 290px;
    padding-right: 225px;
}

.popup-content {
    text-align: center;
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    height: 300px;
    width: 250px;
    box-shadow: 2px 2px 10px rgb(51, 48, 48);
}

.popup-overlay {
    background-color: rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(5px);
}

.close {
    position: relative;
    top: 2px;
    left: 45%;
}


.TerminalBox {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    border-radius: 10px;
    height: 30vh;
    width: 90%;
    background-color: rgb(51, 51, 51);
    display:flex
}

.TerminalInput {
    margin-top: 25vh;
    color: rgb(221, 221, 221);
    border-radius: 15px;
    padding-left: 20px;
    width: 100%;
    background-color: rgba(51, 51, 51);
    border-style: none;
    outline: none;
}
@media only screen and (max-width: 400px){
    hr.rounded {
        width: 95%;
    }

    .TerminalBox {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        width: 95%;
        background-color: rgb(51, 51, 51);
        display:grid;
        margin-bottom: 8vh;
        border: rgb(32, 32, 32) solid 3px;
    }
    
    .TerminalInput {
        position: fixed;
        padding-top: 10px;
        color: rgb(221, 221, 221);
        border-radius: 15px;
        padding-left: 20px;
        width: 88.5%;
        background-color: rgba(51, 51, 51);
        border-style: none;
        outline: none;
    }

    .TerminalLog {
        font-size: 10pt;
        max-height: fit-content;
        display: grid;
        align-items:flex-end;
        margin-bottom: 8vh;
        padding-left: 20px;
        color: rgb(221, 221, 221);
        
    }
    hr.TerminalSeparator{
        position: fixed;
        margin-top: 24vh;
        background-color: rgb(32, 32, 32);
        border-color: rgb(32, 32, 32);
        border-style: solid;
        height: 1px;
        width: 95%;
    }
}
@media only screen and (min-width: 400px){
    hr.rounded {
        width: 95%;
    }

    .TerminalBox {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
        border-radius: 10px;
        height: 45vh;
        width: 95%;
        background-color: rgb(51, 51, 51);
        display:flex;
        border: rgb(32, 32, 32) solid 3px;
    }
    
    .TerminalInput {
        position: fixed;
        margin-top: 41.2vh;
        color: rgb(221, 221, 221);
        border-radius: 15px;
        padding-left: 20px;
        width: 90%;
        background-color: rgba(51, 51, 51);
        border-style: none;
        outline: none;
    }

    .TerminalLog {
        max-height: fit-content;
        display: grid;
        align-items:flex-end;
        margin-bottom: 8vh;
        padding-left: 20px;
        color: rgb(221, 221, 221);
        
    }
    hr.TerminalSeparator{
        position: fixed;
        margin-top: 39vh;
        background-color: rgb(32, 32, 32);
        border-color: rgb(32, 32, 32);
        border-style: solid;
        height: 1px;
        width: 95%;
    }
}



@keyframes typing {
    from { width: 0 }
    to { width: 100% }
    }

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(221, 221 ,221, 0.466) }
}

h5 {
    font-weight: 200;
    text-align: left;
}

h3 {
    line-height: 35px;
    font-weight: 500;
}
a {
    color: #bbb;
}
html, body {
    position: relative;
    margin: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
body {
    position: fixed;
    background: linear-gradient(-55deg, #c72e2e, #652b8b, #8f0e64, #554fac);
    background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;

}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

